/*ゆっくりしていってね!!!*/
html {
    background-image: url(./files/background.webp);
    background-position: right 0% bottom 0%;
    background-attachment: fixed;
    background-size: cover;
}

html * {
    box-sizing: border-box;
}

/*余計な余白を削除*/
body {
    margin: 0px;
    padding: 0px;
}

/*画像を扱いやすくする*/
img {
    display: inline-block;
    object-fit: contain;
    max-width: 100%;
}

/*表*/
table {
    display: inline-block;
    border-collapse: collapse;
    background-color: #ffffff;
}

th {
    text-align: center;
    background-color: #e0e8f0;
}

td {
    text-align: left;
}

th,
td {
    border: ridge 5px;
    padding: 5px;
}

th:empty,
td:empty {
    background-image: linear-gradient(45deg, transparent 49%, black 49%, black 51%, transparent 51%, transparent);
}

/*ページの基本レイアウト*/
#header {
    display: block;
    border: none;
    width: 100%;
    height: 10vh;
}

#page {
    display: block flow-root;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    padding: 1em;
    min-width: 90%;
    width: 90%;
    min-height: calc(90vh - 1em);
    background-color: rgba(255, 255, 255, 0.9);
}

/*コメント付きの画像*/
.image_with_comment {
    display: inline-block;
    background-color: #aaaaaa;
}

div.image_with_comment p {
    color: #000000;
}

/*Twitter埋め込み*/
.twitter {
    display: inline-block;
    width: 100%;
    max-width: 550px;
}

/*Microsoftロゴ*/
.microsoft_logo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 23px;
}

div.microsoft_logo {
    font-size: 25%;
}

#microsoft_logo1 {
    background-color: #f35022;
    grid-row-end: 2;
}

#microsoft_logo2 {
    background-color: #80bb03;
    grid-row-end: 2;
}

#microsoft_logo3 {
    background-color: #03a5f0;
}

#microsoft_logo4 {
    background-color: #ffb903;
}

#microsoft_logotext {
    font-size: medium;
    color: #666666;
    grid-row-start: 1;
    grid-row-end: 3;
}