<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テンプレート集</title>
    <link rel="stylesheet" type="text/css" href="../css.css">
</head>

<body>
    <iframe src="../nav/nav.html" id="header"></iframe>
    <div id="page">
        <h1>テンプレート集</h1>
        <hr>
        <p>
            Wikiの記事を作るときに便利なテンプレートです｡<br>
            これを使ってうまくいかないときはiframeやcssのパスを確認してください｡
        </p>
        <table>
            <tbody>
                <tr>
                    <th><a href="./basic.html">basic.html</a></th>
                    <td>基本的なデザインをまとめたテンプレート</td>
                </tr>
                <tr>
                    <th><a href="./timeline.html">timeline.html</a></th>
                    <td>美しいタイムライン</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>