<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タイトル</title>
    <link rel="stylesheet" type="text/css" href="../../css.css">
</head>

<body>
    <iframe src="../../nav/nav.html" id="header"></iframe>
    <div id="page">
        <h1>タイトル</h1>
        <hr>
        <p>概要</p>

        <h2>見出し</h2>
        <hr>
        <p>文章</p>
        <br>
        <!--画像(横並びに出来る)-->
        <a href="../../files/reimu_ua.webp">
            <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
        </a>
        <a href="../../files/reimu_ua.webp">
            <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
        </a>
        <p>文章</p>
        <!--コメント付き画像(横並びに出来る)-->
        <a href="../../files/reimu_ua.webp">
            <div class="image_with_comment">
                <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
                <p>コメント</p>
            </div>
        </a>
        <a href="../../files/reimu_ua.webp">
            <div class="image_with_comment">
                <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
                <p>コメント</p>
            </div>
        </a>
        <p>文章</p>
        <!--表(横並びに出来る)-->
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <a href="../../files/reimu_ua.webp">
                            <div class="image_with_comment">
                                <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
                                <p>コメント</p>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>見出し1</th>
                    <td>テキスト1</td>
                </tr>
                <tr>
                    <th>見出し2</th>
                    <td>テキスト2</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <th></th>
                    <td>テキスト1</td>
                    <td>テキスト2</td>
                </tr>
                <tr>
                    <th>見出し1</th>
                    <td>テキスト1-1</td>
                    <td>テキスト1-2</td>
                </tr>
                <tr>
                    <th>見出し2</th>
                    <td>テキスト2-1</td>
                    <td>テキスト2-2</td>
                </tr>
            </tbody>
        </table>
        <p>文章</p>
        <!--Twitter埋め込み(横並びに出来る)-->
        <div class="twitter">
            <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr">Deploy ✨ automagically ✨ to GitHub Pages with this GitHub Action? Say it ain’t
                    so. <a href="https://t.co/NCD282Tdwp">https://t.co/NCD282Tdwp</a> <a
                        href="https://t.co/d60IeeRf1D">pic.twitter.com/d60IeeRf1D</a></p>&mdash; GitHub (@github) <a
                    href="https://twitter.com/github/status/1459222985085267972?ref_src=twsrc%5Etfw">November 12,
                    2021</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="twitter">
            <blockquote class="twitter-tweet">
                <p lang="en" dir="ltr">Deploy ✨ automagically ✨ to GitHub Pages with this GitHub Action? Say it ain’t
                    so. <a href="https://t.co/NCD282Tdwp">https://t.co/NCD282Tdwp</a> <a
                        href="https://t.co/d60IeeRf1D">pic.twitter.com/d60IeeRf1D</a></p>&mdash; GitHub (@github) <a
                    href="https://twitter.com/github/status/1459222985085267972?ref_src=twsrc%5Etfw">November 12,
                    2021</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <p>文章</p>
    </div>
</body>

</html>