<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タイトル</title>
    <link rel="stylesheet" type="text/css" href="../../css.css">
</head>

<body>
    <iframe src="../../nav/nav.html" id="header"></iframe>
    <div id="page">
        <h1>タイトル</h1>
        <hr>
        <p>概要</p>

        <h2>見出し</h2>
        <hr>
        <p>文章</p>
        <br>
        <!--画像(横並びに出来る)-->
        <a href="../../files/reimu_ua.webp">
            <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
        </a>
        <a href="../../files/reimu_ua.webp">
            <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
        </a>
        <p>文章</p>
        <!--コメント付き画像(横並びに出来る)-->
        <a href="../../files/reimu_ua.webp">
            <div class="image_with_comment">
                <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
                <p>コメント</p>
            </div>
        </a>
        <a href="../../files/reimu_ua.webp">
            <div class="image_with_comment">
                <img src="../../files/reimu_ua.webp" style="height: 20vh;"></img>
                <p>コメント</p>
            </div>
        </a>
        <p>文章</p>
        <!--表(横並びに出来る)-->
        <table>
            <tbody>
                <tr>
                    <th>見出し1</th>
                    <td>テキスト1-1</td>
                    <td>テキスト1-2</td>
                </tr>
                <tr>
                    <th>見出し2</th>
                    <td>テキスト2-1</td>
                    <td>テキスト2-2</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <th></th>
                    <td>テキスト1</td>
                    <td>テキスト2</td>
                </tr>
                <tr>
                    <th>見出し1</th>
                    <td>テキスト1-1</td>
                    <td>テキスト1-2</td>
                </tr>
                <tr>
                    <th>見出し2</th>
                    <td>テキスト2-1</td>
                    <td>テキスト2-2</td>
                </tr>
            </tbody>
        </table>
        <p>文章</p>

    </div>
</body>

</html>