<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>（名前）の概要</title>
    <link rel="stylesheet" type="text/css" href="https://334mix.com/css.css">
</head>

<body>
    <iframe src="https://334mix.com/nav/nav.html" id="header"></iframe>
    <div id="page">
        <h1>名前</h1>
        <hr>
        <p>説明</p>
        <div class="image_with_comment">
            <img src="https://334mix.com/files/background.webp" style="height: 20vh;"></img>
            <table class="overview_table" width="100%">
                <tr><td class="table_bold">名称</td><td>名前</td></tr>
                <tr><td class="table_bold">HP</td><td><a href="">URL</a></td></tr>
                <tr><td class="table_bold">Twitter</td><td><a href="">Twitterのリンク</a></td></tr>
                <tr><td class="table_bold"></td><td>備考</td></tr>
            </table>
        </div>
        <h3>概要</h3>
        <p>文章</p>
        <h3 id="noteline">騒動</h3>
        <p>文章</p>
        <!-- <h3>注釈</h3>
        <p id="note1">注釈1&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
        
        <p id="note2">注釈2&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
        
        <p id="note3">注釈3&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
        
        <p id="note4">注釈4&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
        
        <p id="note5">注釈5&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
        
        <p id="note6">注釈6&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
        
        <p id="note7">注釈7&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
        
        <p id="note8">注釈8&nbsp;&nbsp;&nbsp;&nbsp;<a href="#noteline">戻る</a></p>
         -->
    </div>
</body>

</html>