<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タイトル</title>
    <link rel="stylesheet" type="text/css" href="../../css.css">
</head>

<body>
    <iframe src="../../nav/nav.html" id="header"></iframe>
    <div id="page">
        <table>
            <tbody>
                <tr>
                    <td rowspan="4">
                        <a href="../../files/background.webp">
                            <img src="../../files/background.webp" style="height: 20vh;"></img>
                        </a>
                    </td>
                    <th>見出し1</th>
                    <td>テキスト1</td>
                </tr>
                <tr>
                    <th>見出し2</th>
                    <td><a href="">テキスト2</a></td>
                </tr>
                <tr>
                    <th>見出し3</th>
                    <td><a href="">テキスト3</a></td>
                </tr>
                <tr>
                    <th></th>
                    <td>テキスト4</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>